@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
* {
  font-family: "Crete Round", serif;
  width: 280px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

input {
  text-align: left;
  display: block;
  padding: 5px;
  border: 1.5px solid;
  border-radius: 3px;
}

.reset {
  width: 90px;
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.resetBg {
  cursor: pointer;
  background: whitesmoke;
}

#comment {
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

.wrong {
  background: #c7091f;
}

.right {
  background-color: green;
}
